#searchbar {
    width: fit-content;
    height: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

#searchbar-icon,
#searchbar-icon-inside,
#searchbar-icon-outside {
    font-size: 1.5rem;
}

#searchBar {
    display: flex;
    justify-content: flex-end;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

ion-button {
    width: 10rem;
}

input {
    background-color: transparent;
    border: none;
    padding: 0 2rem;
    min-width: 300px;
}

.debug {
    border: 1px solid red;
}

ion-card {
    width: 140px;
}

ion-list {
    display: flex;
}

ion-content {
    min-height: 500px;
    margin-bottom: 2rem;
}

@media (min-width: 600px)
{
    ion-card {
        width: 300px;
    }

    .ion-padding-vertical {
        padding: 8rem;
    }

    ion-card-title {
        font-size: 1rem;
    }
}